
div.ww {
	word-wrap: normal;
}

div.wb {
	word-wrap: break-word;
}

.content-box-1 {
	position: absolute;
    background: #FFF;
    padding: 24px;
    font-size: 14px;
	position: absolute;
	margin-left: 50px;
}

.column {
  float: left;
  width: 26%;
  background: rgb(255, 0, 0);
  font-size: 14px;
  border-radius: 15px;
  padding: 12px;
  height: 300px;
  margin-left: 3%;
  margin-right: 0.5%;
  margin-top: 1%;
}

.img-main {
	margin-right:10px;
	border-radius: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
		.column {
		width: 100%;
    }
		.img-main {
		width:100%
		}
}

