.dating-sim-container{
	position:relative;
	font-size: 20px;
	display: grid;
	grid-template-areas:
		"coalbee coalbee coalbee coalbee"
		"dating-sim-name . . . "
		"dating-sim-box dating-sim-box dating-sim-box dating-sim-box";
	grid-area: content;
	width: 40rem;
}

.dating-sim-image{
	grid-area: coalbee;
	background: url("Images/home-page/Coalbee.png");
	background-size: cover;
	height: 30rem
}
.dating-sim-title{
	position:absolute;
	bottom: 0.0rem;
	background-color: white;
	grid-area: dating-sim-name;
	padding-left: 1rem;
	padding-right: 0.5rem;
	padding-bottom: 0.1rem;
	padding-top: 0.5rem;
	border-radius: 10px 10px 0px 0px;
	
}

.dating-sim-box{
	position:absolute;
	bottom:-11rem;
	font-size: 2rem;
	background-color: pink;
	padding-left: 1rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 3rem;
	border: solid white 0.5rem;
	grid-area: dating-sim-box;
	justify-content: left;
	height: 6rem;
	border-radius: 0px 10px 10px 10px;
	width: 36.5rem
}

.dating-sim-dialogue{
	font-size: 1.3rem;
	font-color: white;
}	

.dating-sim-dialogue a{
	text-decoration: none;
}

.tear {
	position: absolute;
	bottom: 15%;
	right: 29.5%;
	width: 5%;
	height: 15%
}