.containerdiv { float: center; position: relative; } 

.brightness {
	background-color: fuchsia;
    display: inline-block;
}

.brightness img:hover {
	filter: saturate(5);
    opacity: 0.5;
}

.fridge {
	width: 100%;
}

.fridge-handle {
	position: absolute;
	bottom: 0.5%;
	right: 29.5%;
	width: 3.9%;
	height: 23.9%
}
.freezer-handle {
	position: absolute;
	bottom: 24.8%;
	right: 29.4%;
	width: 4.3%;
	height: 33.324%
}

.oh-darn{
	position: absolute;
	width: 9.52727%;
	height: 7.6433121;
	left: 9%;
	bottom: 14%;
}

.thermometer{
	position: absolute;
	width: calc(144/55 * 3.7%);
	height: calc(125/471 * 23.9%);
	right: 37.1%;
	bottom: 30.8%;
}

.otherworld{
	position: absolute;
	width: calc(147/55 * 3.7%);
	height: calc(159/471 * 23.9%);
	right: 42.5%;
	bottom: 37.8%;
}

.garden{
	position: absolute;
	width: calc(199/55 * 3.7%);
	height: calc(265/471 * 23.9%);
	right: 72.3%;
	bottom: 30.9%;
}

.diet-coke{
	position: absolute;
	width: calc(156/55 * 3.7%);
	height: calc(353/471 * 23.9%);
	right: 55.0%;
	bottom: 58.6%;
}

.vinegar{
	position: absolute;
	width: calc(133/55 * 3.7%);
	height: calc(245/471 * 23.9%);
	right: 47.5%;
	bottom: 58.6%;
}

.poster{
	position: absolute;
	width: calc(460/55 * 3.7%);
	height: calc(603/471 * 23.9%);
	right: 47.5%;
	bottom: 67.8%;
}

.hallway{
	position: absolute;
	width: calc(156/55 * 3.7%);
	height: calc(1369/471 * 23.9%);
	right: 20%;
	bottom: 0.5%;
}

.thrifting{
	position: absolute;
	width: calc(278/55 * 3.7%);
	height: calc(236/471 * 23.9%);
	right: 72.3%;
	bottom: 61.3%;
}

.oil-bottle{
	position: absolute;
	width: calc(113/55 * 3.7%);
	height: calc(347/471 * 23.9%%);
	right: 39.1%;
	bottom: 58.6%;
}

.totoro{
	position: absolute;
	width: calc(67/55 * 3.7%);
	height: calc(60/471 * 23.9%%);
	right: 37.1%;
	bottom: 54.8%;
}

.cockroach{
	position: absolute;
	width: calc(43/55 * 3.7%);
	height: calc(45/471 * 23.9%%);
	right: 39.6%;
	bottom: 49.8%;
}

.coffee-cup{
	position: absolute;
	width: calc(61/55 * 3.7%);
	height: calc(86/471 * 23.9%%);
	right: 46.6%;
	bottom: 46.8%;
}

.witch{
	position: absolute;
	width: calc(80/55 * 3.7%);
	height: calc(108/471 * 23.9%%);
	right: 54.8%;
	bottom: 51.7%;
}

.catbus{
	position: absolute;
	width: calc(112/55 * 3.7%);
	height: calc(78/471 * 23.9%%);
	right: 73.4%;
	bottom: 52.5%;
}

.donkey{
	position: absolute;
	width: calc(89/55 * 3.7%);
	height: calc(111/471 * 23.9%%);
	right: 65.3%;
	bottom: 45.4%;
}

.calendar{
	position: absolute;
	width: calc(145/55 * 3.7%);
	height: calc(100/471 * 23.9%%);
	right: 82.4%;
	bottom: 51.1%;
}

.lobster{
	position: absolute;
	width: calc(98/55 * 3.7%);
	height: calc(204/471 * 23.9%%);
	right: 87.5%;
	bottom: 38.7%;
}

.mushroom{
	position: absolute;
	width: calc(91/55 * 3.7%);
	height: calc(92/471 * 23.9%%);
	right: 88.4%;
	bottom: 31.5%;
}

.tupperware{
	position: absolute;
	width: calc(83/55 * 3.7%);
	height: calc(133/471 * 23.9%%);
	right: 64.2%;
	bottom: 31.9%;
}

.pumpkin{
	position: absolute;
	width: calc(67/55 * 3.7%);
	height: calc(54/471 * 23.9%%);
	right: 55.0%;
	bottom: 41.4%;
}




